<div class="container" style="padding-top: 3%">
    <div class="container text-box">
    <h1>Education</h1>
        <ul class="list">
            <li>Southeast Missouri State University, Cape Girardeau MO (2009-2013)</li>
                <ul class="list">
                    <li>Bachelor's Degree: Biology</li>
                    <li>3.6 GPA</li>
                </ul>
        </ul>
    </div>
    <br>
    <div id="skills-text-box" class="container text-box">
      <h1>Skills</h1>
      <ul class="list">
        <li>Collaborative</li>
        <li>Dependable</li>
        <li>Focused</li>
        <li>Goal Oriented</li>
        <li>Strong Communication</li>
      </ul>
    </div>
</div>

