<div id="intro-box" class="container intro" style="padding-top: 1%">
      <div id="intro-text-box" class="text-box">
          <h1>Introduction</h1>
          <p id="intro-text">
              Currently, I am looking to enter the coding industry as a junior developer.
              I have a fundamental and well rounded skill set using both front and back end languages.
              Coming from a background in education, I know I will bring a collaborative mindset and become a strong part of any development team.
          </p>
      </div>
      <img id="matt-pic" src="https://media-exp1.licdn.com/dms/image/C4E03AQF7nxb3ZeoHMQ/profile-displayphoto-shrink_400_400/0/1603137086118?e=1621468800&v=beta&t=ba4i0Vua_kfrXYW7OhhUaLo8O9lFCICf-Ie_Eoyr0oo">
</div>

