<div class="container" style="padding-top: 1%">
  <div class="container text-box">
  <h1>Current Employment</h1>
      <ul>
          <li class="list">Cape Girardeau Public Schools</li>
              <ul>
                  <li class="list">7th Grade Science Teacher and Science Department Chair (2015-Present)</li>
                  <li class="list">Head Junior High Esports Coach (2018-Present)</li>
                  <li class="list">Junior High Science Club Co-Sponser</li>
              </ul>
      </ul>
  </div>
</div>
